/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato";
  /* background-color: "#294037";
  color: "#ffffff" */
  /* background: linear-gradient(-45deg, #8ddbdd, #6abbd9, #87a0f1);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite; */
}

h1 {
  background: -webkit-linear-gradient(-45deg, #49d6db, #2d96bc, #2f52c3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  /* background: linear-gradient(-45deg, #09abb0, #2d96bc, #2f52c3); */
  /* background-size: 400% 400%; */
  /* animation: gradient 10s ease infinite; */
  color: #49d6db;
  border: 1px solid #49d6db;
  transition: transform 0.3s ease;
}

button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 3px 3px 0px 0px #49d6db, 10px 10px 10px -10px #49d6db;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hover-effect {
  transition: transform 0.3s ease;
  /* Add a transition for the transform property */
}

.hover-effect:hover {
  transform: scale(1.2);
  color: #49d6db;
  /* Make the div 5% bigger on hover */
}

/* 
@font-face {
  font-family: 'Rosalia';
  src: url('../src/fonts/Rosalia.otf') format('opentype'),
} */
