@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Acorn";
  src: url('../public/fonts/acorn.woff') format('woff');
}

@font-face {
  font-family: "GT Sans";
  src: url('../public/fonts/gt.woff') format('woff');
}

/* global styles */

body {
  font-family: "GT Sans";
  background-color: #233830;
  color: #d2e9e1;
  font-size: 18px;
}

h1, h2 {
  font-family: "Acorn";
  color: #97cfbb;
}

h3 {
  color: #d2e9e1;
}

button {
  color: white;
  background-color: #233830;
  border: 1px solid #97cfbb;
  transition: transform 0.2s ease;
  border-radius: 5px;
}

button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 3px 3px 0px 0px #97cfbb, 10px 10px 10px -10px #97cfbb;
}

button:disabled {
  background-color: #233830;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.highlighted {
  color: #97cfbb;
}

.hover-effect {
  transition: transform 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.2);
  color: #97cfbb;
}

.section-header {
  font-size: 30px;
  text-align: center;
}

/* nav menu */

.nav {
  background-color: #233830;
}

.nav-link {
  color: #d2e9e1;
}

.nav-link:hover {
  color: #97cfbb;
}

/* projects */


/* reviews */

.review-card {
  border: 1px solid #416a5a;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 14px;
}


/* skills */

.skill-hover:hover {
  color: #97cfbb;
}

/* contact */

.form-error {
  color: rgb(250, 118, 118);
  font-size: 14px;
}