@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Acorn";
  src: url('../public/fonts/acorn.woff') format('woff');
}

@font-face {
  font-family: "GT Sans";
  src: url('../public/fonts/gt.woff') format('woff');
}

/* global styles */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "GT Sans";
  background-color: #233830;
  color: #d2e9e1;
  font-size: 18px;
  padding: 0px 24px 0px 24px;
}

h3 {
  color: #d2e9e1;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 40px;
  }
}

button {
  color: white;
  font-size: 16px;
  background-color: #233830;
  border: 1px solid #97cfbb;
  transition: transform 0.2s ease;
  border-radius: 5px;
  padding: 8px;
}

button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 3px 3px 0px 0px #97cfbb, 10px 10px 10px -10px #97cfbb;
}

button:disabled {
  background-color: #233830;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.hover-effect {
  transition: transform 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.2);
  color: #97cfbb;
}

.small-text {
  font-size: 14px;
}

.page-container {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.sections-container {
  width: 100%;
  max-width: 1152px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  margin-top: 80px;

  @media (min-width: 768px) {
    flex: 1 1 0%;
  }
}

.section-header {
  font-size: 30px;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

/* nav menu */

nav {
  background-color: #233830;
  position: fixed;
  z-index: 50;
  top: 0px;
  right: 0px;
}

.nav-desktop-container {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    padding: 15px;
    width: 100%;
  }
}

.nav-desktop {
  margin-right: 0;
  margin-left: auto;
}

.nav-mobile {
  padding-bottom: 24px;
  left: 0px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;

  @media (min-width: 768px) {
    display: none;
  }
}

.hamburger {
  padding: 1px;
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 50;

  @media (min-width: 768px) {
    display: none;
  }
}

.nav-link {
  color: #d2e9e1;
  padding-top: 24px;
  padding-bottom: 24px;

  @media (min-width: 768px) {
    padding: 20px 8px 20px 8px;
  }
}

.nav-link:hover {
  color: #97cfbb;
}

/* hero */

.hero-container {
  width: 100%;

  @media (min-width: 768px) {
    flex: 1 1 0%;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  top: 0px;
  min-height: 100vh;
  position: sticky;

  @media (min-width: 768px) {
    padding: 36px;
  }
}

.hero-headers {
  padding-top: 160px;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 448px;
}

h1, h2 {
  font-family: "Acorn";
  color: #97cfbb;
}

h1 {
  font-size: 48px;
  line-height: 1;

  @media (min-width: 1280px) {
    font-size: 60px;
    line-height: 1;
  }
}

.location {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.hero-contact-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
  margin-bottom: 160px;
}

.contact-icon {
  margin: 8px;
}

/* projects */

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  max-width: 1152px;
}

.project-card {
  position: relative;
  max-width: 448px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 768px) {
    padding: 16px;
  }
}

.project-card:hover .project-image {
  opacity: 0.5;
}

.project-card:hover .project-image-overlay {
  opacity: 1;
}

.project-name {
  font-size: 22px;
  text-align: center;
}

.project-image-container {
  position: relative;
}

.project-image {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.project-image-overlay {
  position: absolute;
  inset: 0px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.project-image-overlay-button {
  width: 100px;
  margin-left: 8px;
  margin-right: 8px;
}

.tech-chip-container {
  display: flex;
  gap: 5px;
}

.tech-chip {
  background-color: #2e483f;
  font-size: 14px;
  padding: 6px 10px 6px 10px;
  border-radius: 20px;
}

/* skills */

.skill-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.skill-card-grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.skill-card {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  padding: 8px;
  margin: 10px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;

  @media (min-width: 640px) {
    padding: 10px;
    ;
  }
}

.skill-card:hover {
  color: #97cfbb;
}

.skill-icon {
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 640px) {
    width: 32px;
    height: 32px;
  }
}

.skill-text {
  text-align: center;
  color: white;
  margin-top: 15px;
}

.skill-show-button {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.skill-show-button-content {
  display: flex;
  gap: 4px;
  align-items: center;
}

/* reviews */

.review-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  max-width: 1152px;
}

.review-card {
  background-color: #2e483f;
  border-radius: 15px;
  margin-bottom: 8px;
  padding: 25px;
  max-width: 672px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.review-attribution {
  color: white;
}

.linkedin-button-container {
  text-align: center;
}

/* contact */

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-blurb {
  margin-top: 12px;
  max-width: 448px;
}

.contact-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 448px;
  width: 100%;
}

.contact-inputs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.contact-input-container {
  position: relative;
}

.contact-input-label {
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 10;
  color: #97cfbb;
  padding: 0 4px;
  transition: all 0.3s ease;
  pointer-events: none;
  transform-origin: left top;
}

.contact-input:focus+.contact-input-label,
.contact-input:not(:placeholder-shown)+.contact-input-label {
  transform: translateY(-28px) translateX(-5px) scale(0.8);
}

.contact-input {
  border: 1px solid #548574;
  background: transparent;
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 8px;
}

.contact-input:focus {
  border-color: #97cfbb;
}

.form-error {
  color: rgb(250, 118, 118);
  font-size: 14px;
}

.send-button {
  margin-top: 16px;
  padding: 8px 40px 8px 40px;
}

/* footer */

.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 16px;
  padding: 6px 12px 6px 12px;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 2px;
}

.footer-contact-icon-container {
  @media (min-width: 768px) {
    display: none;
  }
}